label.checkbox-wrapper {
  padding: 0;
  margin: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  height: 1.25rem;

  position: relative;
  padding-left: 1.5625rem;
  margin-bottom: 0.75rem;
  input[type="checkbox"] {
    position: absolute;
    all: unset;
    &:checked ~ .checkmark:after {
      /* Show the checkmark when checked */
      display: block;
      outline-color: var(--brand-light);
    }
    &:checked ~ .checkmark {
      outline-color: var(--brand-light);
    }
  }
  .checkmark {
   
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--input-base);
    border-radius: 0.25rem;
    outline: 1px solid var(--input-stroke);

    &:after {
      
      content: "";
      position: absolute;
      display: none;

      
      left: 0.4375rem;
      top: 0.1875rem;
      width: 0.3125rem;
      height: 0.625rem;
      border: solid var(--brand-light);
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    outline-color: var(--brand-light);
  }

  a {
    color: var(--brand-light);
    font: var(--text-body-sm);
    display: inline-block;
    padding-inline: 0.3125rem;
  }
}
